/*  font-family: 'Source Sans Pro', sans-serif;  */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}


/* TYPOGRAPHY
   ============ */

h1+p,
h2+p,
.header-text {
    text-transform: uppercase;
}

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 2em 0;
}

h1+p {
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h2+p {
    color: #F18119;
    font-weight: 900;
    font-size: 1rem;
    margin-top: 0;
}

.header-text {
    font-size: 0.625rem;
    font-weight: 900;
    color: #F18119;
    letter-spacing: 1px;
}

.disclaimer {
    font-size: 0.625rem;
    letter-spacing: 1px;
}


/* landing section 
-------------------*/

.landing-section {
    background-color: #404040;
    background-image: url(images/dark-ribs.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 0.5em 2em;
    display: flex;
    flex-direction: column;
}

.header-text {
    order: -1;
}


/* content section 
-------------------*/

.content {
    padding: 2em 1em;
}


/* MEDIA QUERIES
   ============= */

@media (min-width: 510px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }
    h1 {
        font-size: 3.5rem;
    }
    h1+p,
    h2 {
        font-size: 1.75rem;
    }
    .landing-section,
    .content {
        width: 50%;
    }
}